<html>
  <body>
    <p><strong>Username:</strong> {{ username }}<br>
       <strong>Mobile:</strong> {{ mobile }}<br>
       <strong>Email:</strong> {{ email }}</p>

    <p>Do you want to approve this user?</p>

    <p>
      <a href="{{ accept_link }}" style="padding: 10px; background: green; color: white; text-decoration: none;">Accept</a>
      &nbsp;&nbsp;
      <a href="{{ decline_link }}" style="padding: 10px; background: red; color: white; text-decoration: none;">Decline</a>
    </p>
  </body>
</html>
